.container.form-status-message {
  margin: 0 !important;
}
#site-header {
  display: none;
}
#message-warning {
  width: 100%;
}
.min-card-height {
  height: 335px;
}
.project-desc {
  font-weight: 0.5;
}
